<template>
  <div>
        <h2>Login</h2>
        <LoginForm
            :onSubmit="handleLogin"
            :loading="loading"
        />
    </div>
</template>

<script>
import App from "app";
import LoginForm from "../components/LoginForm.vue";

export default {
  name: "Login",

  components: {
    LoginForm
  },

  data() {
      return {
          loading: false
      };
  },

  methods: {
    handleLogin(e, data) {
      e.preventDefault();

      this.loading = true;

      App.Service("Auth").attempt(data)
        .then(res => alert("yay"))
        .catch(e => alert(":("))
        .finally(() => this.loading = false);
    }
  }
};
</script>
