<template>
    <form v-on:submit="handleSubmit">
        <label>
            Username
            <input v-model="username" />
        </label>
        <br />
        <label>
            Password
            <input type="password" v-model="password" />
        </label>
        <br />

        <Button type="submit">Let me in!</Button>

        <div v-if="loading">Loading...</div>
    </form>
</template>

<script>
export default {
  name: "LoginForm",
  props: {
    onSubmit: {
      type: Function,
      required: true
    },
    loading: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      username: "admin",
      password: "admin"
    };
  },

  methods: {
    handleSubmit(e) {
      this.onSubmit(e, this.$data);
    }
  }
};
</script>
