<template>
    <div class="app-container">
        <h1><a href="/">Vitta</a></h1>
        <nav>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/another">Another page</a></li>
                <li><a href="/ops">Non existent page</a></li>
            </ul>
        </nav>

        <slot></slot>
    </div>
</template>

<script>
export default {
  name: "Default layout"
};
</script>

<style>
    body {
        font-family: sans-serif;
        text-align: center;
    }

    h1 {
        margin: 30px;
    }

    nav {
        display: block;
        border-bottom: 1px solid silver;
        padding: 20px;
    }

    nav ul {
        margin: 0;
    }

    nav li {
        list-style: none;
        display: inline-block;
    }
</style>


